@font-face {
  font-family: "Barlow";
  src: url("../font/BarlowSemiCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../font/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --Scissors: hsl(39, 89%, 49%);
  --Paper: hsl(230, 89%, 62%);
  --Rock: hsl(349, 71%, 52%);
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  --Radial-Gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  background-image: var(--Radial-Gradient);
}

.container {
  min-height: 100vh;
  max-width: 136.6rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--Header-Outline);
  border-radius: 1.5rem;
  padding: 2rem 3rem;
  min-width: 60%;
}

.header__score-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 3.6rem;
  border-radius: 0.7rem;
}

.header__score-label {
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: var(--Score-Text);
  text-transform: uppercase;
  translate: 0rem 1.3rem;
}

.header__score {
  font-size: 5rem;
  font-weight: 700;
  color: var(--Dark-Text);
}

/* -Main Container */
.main--1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
  column-gap: 7.5rem;
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  margin-top: 7rem;
}

.option__container {
  background-color: #fff;
  padding: 8vh;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.option__container img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 45%;
  height: 45%;
}

.option--paper {
  border: 2vh solid var(--Paper);
  grid-column: 1/2;
}
.option--scissors {
  border: 2vh solid var(--Scissors);
  grid-column: 2/3;
}
.option--rock {
  border: 2vh solid var(--Rock);
  grid-column: 1/3;
  justify-self: center;
}

.main--2,
.main--3 {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 10rem;
}

.main--2 div,
.main--3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.main--2 .option__container,
.main--3 .option__container {
  scale: 1.15;
  cursor: default;
}

.house-pick-placeholder {
  background-color: rgb(8, 8, 66);
  height: 19vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.status {
  gap: 1rem !important;
  margin-top: 2rem;
}

.status__title {
  font-size: 3.8rem;
  font-weight: 700;
}

.play-again {
  background-color: #fff;
  color: var(--Dark-Text);
  border: 1px solid transparent;
}

.play-again:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: 1px solid #fff;
  transform: skewX(-20deg);
}

.winner {
  box-shadow: 0 0 0 4rem rgba(255, 255, 255, 0.09),
    0 0 0 8.4rem rgba(255, 255, 255, 0.06),
    0 0 0 13rem rgba(255, 255, 255, 0.04);
}

/* -Button Styles */
.btn {
  text-transform: uppercase;
  padding: 0.8rem 4rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn--modal {
  color: #fff;
  border: 1px solid #fff;
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}

.btn--modal:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  transform: skewX(-20deg);
}

/* -Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 20;
  padding: 3rem;
  border-radius: 0.9rem;
  background-color: #fff;
  transition: 0.5s;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  row-gap: 4rem;
}

.modal__rules {
  grid-column: 1/3;
}

.modal__close {
  justify-self: end;
  cursor: pointer;
}

.modal span {
  font-size: 3rem;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 15;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
